@{
  Layout = "_Layout";
}

@model BeerReview.Models.Drinker

<h2>User Editor</h2>

<h4>Edit this user's profile: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DrinkerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select a beer")
  @Html.DropDownList("BeerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>