@{
  Layout = "_Layout";
}

@using BeerReview.Models;
@model BeerReview.Models.Beer;

<h2>Beer Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.ABV): @Html.DisplayFor(model => model.ABV)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No one has had this beer.</p>
}
else
{
  <h4>Drinkers of this beer:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Drinker.Name}", "Details", "Drinkers", new { id = join.Drinker.DrinkerId })</li>
  }
  </ul>
}

<h4>Reviews of this beer:</h4>
  <ul>
  @foreach(var review in Model.Reviews)
  {
    <li>@Html.ActionLink($"{review.Title}", "Details", "Reviews", new { id = review.ReviewId })</li>
  }
  </ul>

<p>@Html.ActionLink("Back to Beers", "Index")</p>
<p>@Html.ActionLink("Edit Beer", "Edit", new { id = Model.BeerId })</p>
<p>@Html.ActionLink("Delete Beer", "Delete", new { id = Model.BeerId })</p>